[submodule "40423234"]
	path = 40423234
	url = https://github.com/40423234/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423242"]
	path = 40423242
	url = https://github.com/40423242/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423244"]
	path = 40423244
	url = https://github.com/40423244/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423247"]
	path = 40423247
	url = https://github.com/40423247/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423252"]
	path = 40423252
	url = https://github.com/40423252/2016fallcadp_hw.git
	branch = gh-pages
